/* It is main css file */
body{
  background: red;
}
header,
main,
footer{
	margin-top: 40px;
}

h2{
	margin: 10px;
	padding: 10px;
	border-bottom: 1px solid;
	background: #666;
}
div{
	text-align: center;
	font-size: 18px;
}
p{
	padding: 10px;
	color:grey;
}